*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #f05db3;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.sanrio-imagem{
    width: 25%;
}

.turmahk{
    background-image: linear-gradient(#f05db3,#ffffff);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.turma-hk{
    width: 35%;
}


.hk-titulo{
    padding: 24px 0;
}

.sanrio{
    padding: 24px 0;
}
.sanrio-imagem2{
    width: 120px;
}

.sanrio-icone{
    width: 24px;
    padding: 4px 8px;
}

.sanrio-div{
    text-align: center;
    padding: 16px 0;
}

.personagem-titulo{
    text-align: center;
    padding: 50px 0;
}

.personagem-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: #f05db3;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}

